.vscode
.idea
*.xml
.idea/workspace.xml
.idea/workspace.xml
hmm_sk/__pycache__
minimax_assignment/__pycache__
./hmm_sk/__pycache__
./minimax_assignment/__pycache__
*.pyc
.DS_Store
RL/.DS_Store
.DS_Store
.DS_Store
